# Server Config
PORT=3000

# Database Configuration (PostgreSQL / Prisma Postgres)
POSTGRES_URL=postgres://user:password@host:5432/database?sslmode=require

# JWT Configuration
JWT_SECRET=sikra_inspeksi_super_secret_key_2026
JWT_EXPIRES_IN=7d
